{% extends "baseTemplate.html" %} 

{% load thumbnail %}

{% block title %} Image Gallery-Home {% endblock %}

{% block body %}

    <div class="row">
        {% for post in posts %}

            <div class="col-sm-3 my-4">
                <div class="card">

                    {% thumbnail post.image "250x250" crop="center" as im %}
                                <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                    {% endthumbnail %}

                    <div class="card-body">
                        <h5 class="card-title">{{post.text}}</h5>
                        <div class="d-flex">
                            <a href="{% url 'feed:detail' post.id %}" class="btn btn-primary ">
                            Show in detail
                            </a>
                            
                            <a class="btn btn-danger ms-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                  </svg>
                                </a>

                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-sm-4 offset-4 text-center my-5">
                <h3>Welcome!</h3>
                <p>Add your First Image?</p>
                <a href="{% url 'feed:post' %}" class="btn btn-primary d-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>
                        Add Image
                </a>
            </div>

        {% endfor %}


    </div>

{% endblock %}
